.welcome {
    display: none;
}

.welcome_active {
    display: block;
    margin: 241px auto;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


